---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Welcome to our blog, where we share in-depth articles on topics that matter most to you. From the latest
		industry trends to personal growth advice, our blog has something for everyone.
	</p>
	<p>
		In our latest post, we dive into the world of web development and explore the best practices for building
		responsive websites. Be sure to check it out!
	</p>
	<p>We’d love to hear your thoughts! Leave a comment below and join the discussion.</p>
	<p>Thanks for reading! We hope you found this post helpful. Be sure to check out our other articles!</p>
	<ul>
		<!-- <li><a href="http://localhost:4321/posts/post-1">Post 1</a></li>
		<li><a href="http://localhost:4321/posts/post-2">Post 2</a></li>
		<li><a href="http://localhost:4321/posts/post-3">Post 3</a></li> -->
		<!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
